In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('tmdb_5000_movies.csv')

In [3]:
df.head(3)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466

In [5]:
df["genres"].apply(lambda x:x.replace('[','').replace(']',''))

0       {"id": 28, "name": "Action"}, {"id": 12, "name...
1       {"id": 12, "name": "Adventure"}, {"id": 14, "n...
2       {"id": 28, "name": "Action"}, {"id": 12, "name...
3       {"id": 28, "name": "Action"}, {"id": 80, "name...
4       {"id": 28, "name": "Action"}, {"id": 12, "name...
                              ...
4798    {"id": 28, "name": "Action"}, {"id": 80, "name...
4799    {"id": 35, "name": "Comedy"}, {"id": 10749, "n...
4800    {"id": 35, "name": "Comedy"}, {"id": 18, "name...
4801
4802                    {"id": 99, "name": "Documentary"}
Name: genres, Length: 4803, dtype: object

In [9]:
df["genres"]

0       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1       [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3       [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
                              ...
4798    [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4799    [{"id": 35, "name": "Comedy"}, {"id": 10749, "...
4800    [{"id": 35, "name": "Comedy"}, {"id": 18, "nam...
4801                                                   []
4802                  [{"id": 99, "name": "Documentary"}]
Name: genres, Length: 4803, dtype: object

In [10]:
pd.Series(df["genres"])

0       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1       [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3       [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
                              ...
4798    [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4799    [{"id": 35, "name": "Comedy"}, {"id": 10749, "...
4800    [{"id": 35, "name": "Comedy"}, {"id": 18, "nam...
4801                                                   []
4802                  [{"id": 99, "name": "Documentary"}]
Name: genres, Length: 4803, dtype: object

In [24]:
df = df.drop(["genres","keywords","production_companies","production_countries","spoken_languages","id","overview"], axis=1)

KeyError: "['genres' 'keywords' 'production_companies' 'production_countries'\n 'spoken_languages' 'id'] not found in axis"

In [25]:
df.head(3)

,budget,homepage,original_language,original_title,overview,popularity,release_date,revenue,runtime,status,tagline,title,vote_average,vote_count
0,237000000,http://www.avatarmovie.com/,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,2009-12-10,2787965087,162.0,Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,http://disney.go.com/disneypictures/pirates/,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,2007-05-19,961000000,169.0,Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,http://www.sonypictures.com/movies/spectre/,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,2015-10-26,880674609,148.0,Released,A Plan No One Escapes,Spectre,6.3,4466

In [26]:
df = df.drop("overview", axis=1)

In [27]:
df.head()

,budget,homepage,original_language,original_title,popularity,release_date,revenue,runtime,status,tagline,title,vote_average,vote_count
0,237000000,http://www.avatarmovie.com/,en,Avatar,150.437577,2009-12-10,2787965087,162.0,Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,http://disney.go.com/disneypictures/pirates/,en,Pirates of the Caribbean: At World's End,139.082615,2007-05-19,961000000,169.0,Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,http://www.sonypictures.com/movies/spectre/,en,Spectre,107.376788,2015-10-26,880674609,148.0,Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,http://www.thedarkknightrises.com/,en,The Dark Knight Rises,112.312950,2012-07-16,1084939099,165.0,Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,http://movies.disney.com/john-carter,en,John Carter,43.926995,2012-03-07,284139100,132.0,Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [28]:
df.shape

(4803, 13)

In [29]:
list(df.columns)

['budget',
 'homepage',
 'original_language',
 'original_title',
 'popularity',
 'release_date',
 'revenue',
 'runtime',
 'status',
 'tagline',
 'title',
 'vote_average',
 'vote_count']

In [32]:
df.count

<bound method DataFrame.count of          budget                                           homepage  \
0     237000000                        http://www.avatarmovie.com/
1     300000000       http://disney.go.com/disneypictures/pirates/
2     245000000        http://www.sonypictures.com/movies/spectre/
3     250000000                 http://www.thedarkknightrises.com/
4     260000000               http://movies.disney.com/john-carter
...         ...                                                ...
4798     220000                                                NaN
4799       9000                                                NaN
4800          0  http://www.hallmarkchannel.com/signedsealeddel...
4801          0                        http://shanghaicalling.com/
4802          0                                                NaN

     original_language                            original_title  popularity  \
0                   en                                    Avatar  150.437577
1                   en  Pirates of the Caribbean: At World's End  139.082615
2                   en                                   Spectre  107.376788
3                   en                     The Dark Knight Rises  112.312950
4                   en                               John Carter   43.926995
...                ...                                       ...         ...
4798                es                               El Mariachi   14.269792
4799                en                                 Newlyweds    0.642552
4800                en                 Signed, Sealed, Delivered    1.444476
4801                en                          Shanghai Calling    0.857008
4802                en                         My Date with Drew    1.929883

     release_date     revenue  runtime    status  \
0      2009-12-10  2787965087    162.0  Released
1      2007-05-19   961000000    169.0  Released
2      2015-10-26   880674609    148.0  Released
3      2012-07-16  1084939099    165.0  Released
4      2012-03-07   284139100    132.0  Released
...           ...         ...      ...       ...
4798   1992-09-04     2040920     81.0  Released
4799   2011-12-26           0     85.0  Released
4800   2013-10-13           0    120.0  Released
4801   2012-05-03           0     98.0  Released
4802   2005-08-05           0     90.0  Released

                                                tagline  \
0                           Enter the World of Pandora.
1        At the end of the world, the adventure begins.
2                                 A Plan No One Escapes
3                                       The Legend Ends
4                  Lost in our world, found in another.
...                                                 ...
4798  He didn't come looking for trouble, but troubl...
4799  A newlywed couple's honeymoon is upended by th...
4800                                                NaN
4801                           A New Yorker in Shanghai
4802                                                NaN

                                         title  vote_average  vote_count
0                                       Avatar           7.2       11800
1     Pirates of the Caribbean: At World's End           6.9        4500
2                                      Spectre           6.3        4466
3                        The Dark Knight Rises           7.6        9106
4                                  John Carter           6.1        2124
...                                        ...           ...         ...
4798                               El Mariachi           6.6         238
4799                                 Newlyweds           5.9           5
4800                 Signed, Sealed, Delivered           7.0           6
4801                          Shanghai Calling           5.7           7
4802                         My Date with Drew           6.3          16

[4803 rows x 13 columns]>

In [34]:
df = df.drop("tagline", axis=1)

In [35]:
df.describe()

,budget,popularity,revenue,runtime,vote_average,vote_count
count,4.803000e+03,4803.000000,4.803000e+03,4801.000000,4803.000000,4803.000000
mean,2.904504e+07,21.492301,8.226064e+07,106.875859,6.092172,690.217989
std,4.072239e+07,31.816650,1.628571e+08,22.611935,1.194612,1234.585891
min,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,7.900000e+05,4.668070,0.000000e+00,94.000000,5.600000,54.000000
50%,1.500000e+07,12.921594,1.917000e+07,103.000000,6.200000,235.000000
75%,4.000000e+07,28.313505,9.291719e+07,118.000000,6.800000,737.000000
max,3.800000e+08,875.581305,2.787965e+09,338.000000,10.000000,13752.000000

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             4803 non-null   int64
 1   homepage           1712 non-null   object
 2   original_language  4803 non-null   object
 3   original_title     4803 non-null   object
 4   popularity         4803 non-null   float64
 5   release_date       4802 non-null   object
 6   revenue            4803 non-null   int64
 7   runtime            4801 non-null   float64
 8   status             4803 non-null   object
 9   title              4803 non-null   object
 10  vote_average       4803 non-null   float64
 11  vote_count         4803 non-null   int64
dtypes: float64(3), int64(3), object(6)
memory usage: 450.4+ KB

In [41]:
df = df.drop("homepage", axis=1)

In [43]:
df = df.dropna()

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4800 entries, 0 to 4802
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             4800 non-null   int64
 1   original_language  4800 non-null   object
 2   original_title     4800 non-null   object
 3   popularity         4800 non-null   float64
 4   release_date       4800 non-null   object
 5   revenue            4800 non-null   int64
 6   runtime            4800 non-null   float64
 7   status             4800 non-null   object
 8   title              4800 non-null   object
 9   vote_average       4800 non-null   float64
 10  vote_count         4800 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 579.0+ KB

In [47]:
df["budget"].dtype

dtype('int64')